<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061489629398-cgve62qfgqkn6t40153kcks9usobunfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061489629398-cgve62qfgqkn6t40153kcks9usobunfv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061489629398-aercbd4gvb5jjl4tmi4r6ppc9ijs91eu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfc_W1cS2QhT2iOErBK9Unq1jjghd80Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>1061489629398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chup</string>
	<key>PROJECT_ID</key>
	<string>chup2227</string>
	<key>STORAGE_BUCKET</key>
	<string>chup2227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061489629398:ios:39d29f02d628b8d83a5177</string>
</dict>
</plist>